@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 80%;          /* or any fixed width like 600px */
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 2em;

    background-color: #072940;
    color: #f1f5f9;
}


.play-again {
    display: inline-block;
    background-color: #60a5fa;

    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.board {
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 0;

    margin-top: 1em;
    margin-bottom: 1em;
}

.cell {
    background-color: #1e293b;

    margin: 0;
    padding: 0;


    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.top-left {
    border-top-left-radius: 12px;
    border-top: 4px solid black;
    border-left: 4px solid black;

    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-color: #475569;
}

.top-mid {
    border: 2px solid black;
    border-top: 4px solid black;
    border-color: #475569;
}

.top-right {
    border-top-right-radius: 12px;
    border-top: 4px solid black;
    border-right: 4px solid black;

    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-color: #475569;
}



.mid-left {
    border-left: 4px solid black;

    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-color: #475569;
}

.mid-mid {
    border: 2px solid black;
    border-color: #475569;
}

.mid-right {
    border-right: 4px solid black;

    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-color: #475569;
}



.bot-left {
    border-bottom-left-radius: 12px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;

    border-top: 2px solid black;
    border-right: 2px solid black;
    border-color: #475569;
}

.bot-mid {
    border-bottom: 4px solid black;

    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-color: #475569;

}

.bot-right {
    border-bottom-right-radius: 12px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;

    border-top: 2px solid black;
    border-left: 2px solid black;
    border-color: #475569;
}
